@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Whyte;
  src: url('/Whyte-Regular.ttf');
}

:root {
  --color-primary: #fff;
  /* --color-secondary: #f3f0f0; */
  /* --color-tertiaty: #99a0a3; */
}

a {
  @apply text-white;
}
 
a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
